language: android

android:
    components:
        - build-tools-23.0.3
        - android-23
        - extra-android-m2repository
    licenses:
        - android-sdk-license-5be876d5

cache:
    directories:
        - $HOME/.m2

script: ./gradlew check
